<!-- edit.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= simple_form_for @trip do |f| %>

      <%= f.fields_for :friends do |ff| %>
        <% 10.times do |i| %>

          <div class="row friends" style="display: <%= i.zero? ? 'block' : 'none' %>;">
            <div class="col-md-4">
              <h4 class="form-label">Name:</h4>
              <%= ff.input :first_name, label: false, input_html: { name: "trip[friends][][first_name]" } %>
            </div>
            <div class="col-md-4">
              <h4 class="form-label">Phone Number:</h4>
              <%= ff.input :phone_number, label: false, input_html: { name: "trip[friends][][phone_number]" } %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-sm-12 col-md-4" style="text-align: center">
        <button type="button" class="btn btn-primary" id="add-extra-field">+</button>
        <button type="button" class="btn btn-primary" id="remove-extra-field">-</button>
        <br>
        <%= f.submit "Send Invites", class: "btn btn-primary new-trip-submit"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
