<!-- edit.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= simple_form_for @trip do |f| %>

      <%= f.fields_for :friends do |ff| %>
               <% 5.times do |i| %>

               <div class="row">
                 <div class="col-md-4">
                   <%= ff.input :first_name, input_html: { name: "trip[friends][][first_name]" } %>
                 </div>
                 <div class="col-md-4">
                   <%= ff.input :phone_number, input_html: { name: "trip[friends][][phone_number]" } %>
                 </div>
               </div>
       <% end %>
      <% end %>


      <%= f.submit "Send Invites", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
