<!-- index.html.erb -->

<!-- Display managed trips of current user: -->
<ul>
  <h2>You manage:</h2>
  <% current_user.managed_trips.each do |trip| %>
    <li>
      <%= link_to trip.name, trip_path(trip.id)%>
      <img src= <%= trip.picture %> alt="Trip picture" height="42" width="42">
    </li>
  <% end %>
</ul>


<!-- Display invited-to trips of current user: -->
<ul>
  <h2>You are accepted to</h2>
  <% current_user.accepted_trips.each do |trip| %>
    <% if trip.user != current_user %>
      <li>
        <%= link_to trip.name, trip_path(trip.id)%>
        <%= link_to image_tag(trip.picture, size: "100x100"), trip_path(trip.id) %>
      </li>
    <% end %>
  <% end %>
</ul>


<!-- Display invited-to trips of current user: -->
<ul>
  <h2>You are invited to</h2>
  <% current_user.pending_trips.each do |trip| %>
    <% if trip.user != current_user %>
      <li>
        <%= link_to trip.name, trip_path(trip.id)%>
        <%= link_to image_tag(trip.picture, size: "100x100"), trip_path(trip.id) %>
      </li>
    <% end %>
  <% end %>
</ul>
