<!-- show.html.erb -->

<!-- if all users have voted || if trip.deadline_date < today
display FINAL DESTINATION + MEMBERS-->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <% if ((@trip.invited_users_all.size - @trip.invited_users_declined.size) == @trip.users_voted.size) || (@trip.deadline_date < Date.today) %>

          <h1 id="showTripsTitle">The winning destination is:</h1>
        <!-- At the moment if there is a "parimerito", it shows a random result. To fix show page when trip expired and no one has voted-->

        <div class="banner" style="background-image: url('<%= image_path(@trip.winning_destination.first.picture_mobile, class: "destination-vote")%>')">
          <div class="banner-content">
            <h1><%= @trip.winning_destination.first.city.capitalize %>, <%= @trip.winning_destination.first.country %></h1>
          </div>
        </div>

          <div class="block">
          <p style="font-size: 16px">PARTICIPANTS</p>
              <% @accepted.each do |user| %>
            <div>
              <p class="text-center"> <%= user.first_name %> </p>
              <%= image_tag("profileicon.svg", class:"avatar-large")%>
            </div>
          <% end %>
          </div>


        <% else %>
        <!-- ELSE: If not all users have voted and trip has not expired -->
          <h1 id="showTripsTitle"> <%= "#{@trip.name.capitalize}" %> </h1>
          <br>
            <p style="font-size: 20px; font-weight: bold">VOTED</p>
            <div class="block">
              <% @voted.each do |user| %>
              <div>
                <%= image_tag("avatar.png", class:"avatar-large")%>
                <p class="text-center"> <%= user.first_name %> </p>
              </div>
              <% end %>
            </div>
          <br>
          <p style="font-size: 20px; font-weight: bold">VOTE PENDING</p>
          <div class="block">
            <% @pending.each do |user| %>
            <div>
              <div>
              <%= image_tag("avatar.png", class:"avatar-large") %>
              </div>
              <p class="text-center"> <%= user.first_name %> </p>
            </div>
            <% end %>
          </div>

      <% end %>
    </div>
  </div>
</div>
