<!-- show.html.erb -->

<!-- if all users have voted || if trip.deadline_date < today
display FINAL DESTINATION + MEMBERS-->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <% if ((@trip.invited_users_all.size - @trip.invited_users_declined.size) == @trip.users_voted.size) || (@trip.deadline_date < Date.today) %>

        <h3>The winning destination is:</h3>
      <!-- At the moment if there is a "parimerito", it shows a random result. To fix show page when trip expired and no one has voted-->

        <p> <%= @trip.winning_destination.first.city.capitalize %>, <%= @trip.winning_destination.first.country %> </p>

        <p>Participants are:</p>
        <ul>
          <% @accepted.each do |user| %>
            <li>
            <%= user.first_name %>
            </li>
          <% end %>
        </ul>


        <% else %>
        <!-- ELSE: If not all users have voted and trip has not expired -->
        <h1 id="showTripsTitle"> <%= @trip.name %> </h1>
        <img src= <%= @trip.picture %> alt="Trip picture" height="100" width="100">


        <br>
        <p>Have voted and are going!</p>
        <ul>
          <% @voted.each do |user| %>
            <li>
            <%= user.first_name %>
            </li>
          <% end %>
        </ul>

        <br>
        <p>Are going! Still need to vote...</p>
        <ul>
          <% @novoted.each do |user| %>
            <li>
            <%= user.first_name %>
            </li>
          <% end %>
        </ul>

        <br>
        <p>Pending invitees</p>
        <ul>
          <% @pending.each do |user| %>
            <li>
            <%= user.first_name %>
            </li>
          <% end %>
        </ul>

        <br>
        <p>Won't make it</p>
        <ul>
          <% @declined.each do |user| %>
            <li>
            <%= user.first_name %>
            </li>
          <% end %>
        </ul>

      <% end %>
    </div>
  </div>
</div>
