<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4" style="text-align: center">

        <h1>HI <%= current_invited_user.first_name %>, YOU HAVE BEEN INVITED ON A TRIP</h1>

          <br>
          <p> The trip is called </p>
          <h2><%= @trip.name %></h2>
          <br>
          <br>
          <p> ...and we need you to vote on a destination </p>
          <br>
          <%= simple_form_for [@trip, @user_trip] do |f| %>
            <%= f.button :submit, name: "user_trip[state]", value: "accepted" %>
            <%= f.button :submit, name: "user_trip[state]", value: "declined" %>
          <% end %>

    </div>
  </div>
</div>
