<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h3 id="showTripsTitle">..and now time to vote!</h3>
        <%= simple_form_for [@trip, @vote] do |f| %>
        <ul>
          <% @destinations.each do |destination| %>
            <div class="destination-vote" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= destination.picture %>);">
            <p class="destination-name-pic"><%= destination.city.split(",").first.capitalize%></p> 
            </div>  
            <%= f.input :destination_id, :as => :hidden, :input_html => { :value => destination.id, name: "destinations[][destination_id]" } %>
            <div class="slidecontainer">
            <%= f.input :rating, label: false, as: "range", :input_html => { name: "destinations[][rating]", min: 0, max: 5, step: 1, "data-rangeslider" => true, class: "slider", id: "vote-rating-#{destination.id}" } %>
            <p>Rating for <%= destination.city.split(",").first%>: <span class="textInput"></span>/5</p>
            </div>
          <% end %>
         </ul>
         <div class="col-sm-12 col-md-4 text-center">
          <%= f.button :submit, value: 'Submit score', class: "btn btn-primary new-trip-submit"%>
        </div>
        <% end %>




<% content_for :js do  %>
  <% if current_user == @trip.user %>
    <script>
      swal({
      title: "Cool!",
      text: "You've just invited your friends!",
      icon: "success"
      });
    </script> 
  <% end %>
<% end %>
    </div>
  </div>
</div>




